<?php
    $visibleCount = 0;
?>
<div class="layout control-scrollpanel" id="cms-side-panel">
    <div class="layout-cell">
        <div class="layout-relative fix-button-container">
	    <!-- Components -->
	    <form
		class="layout <?= ++$visibleCount == 1 ? '' : 'hide' ?>"
		data-content-id="components"
		onsubmit="return false"
		id="cms-component-list">
		<?= $this->widget->componentList->render() ?>
	    </form>
        </div>
    </div>
</div>
