<div class="loading-indicator-container size-small pull-right">
    <div class="control-pagination">
        <span class="page-iteration">
            <?= e(trans('backend::lang.list.pagination', ['from' => $pageFrom, 'to' => $pageTo, 'total' => $recordTotal])) ?>
        </span>
        <?php if ($pageLast > 1): ?>
            <?php if ($pageCurrent > 1): ?>
                <a
                    href="?page=1"
                    class="page-first"
                    data-request-data="page: 1"
                    data-load-indicator="<?= e(trans('backend::lang.list.loading')) ?>"
                    title="<?= e(trans('backend::lang.list.first_page')) ?>"></a>
                <?php else: ?>
                <span
                    class="page-first"
                    title="<?= e(trans('backend::lang.list.first_page')) ?>"></span>
                <?php endif ?>
                <?php if ($pageCurrent > 1): ?>
                <a
                    href="?page= <?= $pageCurrent - 1 ?>"
                    class="page-back"
                    title="<?= e(trans('backend::lang.list.prev_page')) ?>"></a>
                <?php else: ?>
                <span
                    class="page-back"
                    title="<?= e(trans('backend::lang.list.prev_page')) ?>"></span>
                <?php endif ?>

            <?php for ($i = 1; $i <= $pageLast; $i++): ?>
                <a href="?page=<?= $i ?>"><?= $i ?></a>
            <?php endfor ?>
            <?php if ($pageLast > $pageCurrent): ?>
                <a
                    href="?page=<?= $pageCurrent + 1 ?>"
                    class="page-next"
                    data-load-indicator="<?= e(trans('backend::lang.list.loading')) ?>"
                    title="<?= e(trans('backend::lang.list.next_page')) ?>"></a>
                <?php else: ?>
                <span
                    class="page-next"
                    title="<?= e(trans('backend::lang.list.next_page')) ?>"></span>
                <?php endif ?>
                <?php if ($pageLast > $pageCurrent): ?>
                <a
                    href="?page=<?= $pageLast ?>"
                    class="page-last"
                    title="<?= e(trans('backend::lang.list.last_page')) ?>"></a>
                <?php else: ?>
                <span
                    class="page-last"
                    title="<?= e(trans('backend::lang.list.last_page')) ?>"></span>
                <?php endif ?>
            <?php endif ?>
    </div>
</div>
