<?php

use AlpesPlugin\LeadExtractor\Classes\Source\FromDirectInput;
use AlpesPlugin\LeadExtractor\Classes\Source\FromFile;
use AlpesPlugin\LeadExtractor\Classes\Source\FromUrl;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterAutoline;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterICarros;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterWebMotors;

$parsers = [
    addslashes(AdapterAutoline::class) => 'Autoline',
    addslashes(AdapterICarros::class) => 'ICarros',
    addslashes(AdapterWebMotors::class) => 'Webmotors',
];
$sourceType = [
    addslashes(FromFile::class) => 'File',
    addslashes(FromDirectInput::class) => 'Direct Input',
    addslashes(FromUrl::class) => 'Url',
];

?>

<?= Block::put('sidepanel') ?>
<?php if (!$this->fatalError): ?>
    <?= $this->makePartial('sidepanel') ?>
<?php endif ?>
<?= Block::endPut() ?>

<?= Block::put('body') ?>
<div class="control-breadcrumb breadcrumb-flush">
    <ul>
        <li><a href="/backend/alpes-panel">Alpes Panel</a></li>
        <li>Lead Visualizer</li>
    </ul>
</div>
<?php
$fnVerMais = function($str, $max = 60) {
    $html = '<span class="short-details">' . str_limit($str, $max) . '</span>';
    if (strlen($str) > 60) {

        $html .= '<span class="long-details hide">' . $str . ' <span title="Ver menos" class="btn btn-xs btn-see-less">-</span></span>';
        $html .= '<span title="Ver mais" class="btn btn-xs btn-see-more">+</span>';
    }
    return $html;
};
$colunas = [
    'lead_id' => '',
    'status' => 'Status',
    'free_lead' => 'Free',
    'type' => 'Tipo',
    'details' => 'Detalhes',
    'client_name' => 'Nome Cliente',
    'phone' => 'Telefone',
    'seller' => 'Vendedor',
    'vehicle' => 'Veículo',
    'date' => 'Data',
];

$colunaCallback = [
    'vehicle' => function($vehicle)use($fnVerMais) {
        if (!$vehicle) {
            return '';
        }
        $vehicle = json_decode($vehicle, true);
        if (!$vehicle || !is_array($vehicle)) {
            return '';
        }
        $vehicle = array_map(function($key, $value) {
                return ucfirst($key) . ':' . $value;
            }, array_keys($vehicle), $vehicle);

        $vehicle = join(PHP_EOL, $vehicle);

        return '<pre>' . $fnVerMais($vehicle, 30) . '</pre>';
    },
    'details' => function($detail) use($fnVerMais) {
        return $fnVerMais($detail);
    },
    'date' => function($date) {
        return date('H:i:s d-m-Y', strtotime($date));
    }
];
/* @var $this->leadsData \Illuminate\Pagination\LengthAwarePaginator */

?>
<table class="table data leads-data">
    <thead>
        <?php
        foreach ($colunas as $col) {
            echo '<th>' . $col . '</th>';
        }

        ?>
    </thead>
    <tbody>
        <?php
        foreach ($this->leadsData as $row) {
            echo '<tr>';
            foreach ($colunas as $colName => $col) {
                if (isset($colunaCallback[$colName])) {
                    $row->$colName = $colunaCallback[$colName]($row->$colName);
                }

                echo '<td>' . $row->$colName . '</td>';
            }
            echo '</tr>';
        }

        ?>
    </tbody>
</table>

<div class="list-pagination">
    <?= $this->makePartial('list_pagination') ?>
</div>

<script>
    $(function () {
        $('table.leads-data').on('click', '.btn-see-more, .btn-see-less', function () {
            var parent = $(this).closest('td');
            var longDetails = parent.find('.long-details');
            var shortDetails = parent.find('.short-details');
            var btnMore = parent.find('.btn-see-more');

            if ($(this).is('.btn-see-more')) {
                longDetails.hide().removeClass('hide').show();
                shortDetails.hide();
                btnMore.hide();
                return;
            }
            longDetails.hide();
            shortDetails.show();
            btnMore.show();
        });
    });
</script>


<?= Block::endPut() ?>