<?php

use AlpesPlugin\LeadExtractor\Classes\Source\FromDirectInput;
use AlpesPlugin\LeadExtractor\Classes\Source\FromFile;
use AlpesPlugin\LeadExtractor\Classes\Source\FromUrl;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterAutoline;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterICarros;
use AlpesPlugin\LeadExtractor\Classes\Parser\Adapter\AdapterWebMotors;

$parsers = [
    addslashes(AdapterAutoline::class) => 'Autoline',
    addslashes(AdapterICarros::class) => 'ICarros',
    addslashes(AdapterWebMotors::class) => 'Webmotors',
];
$sourceType = [
    addslashes(FromFile::class) => 'File',
    addslashes(FromDirectInput::class) => 'Direct Input',
    addslashes(FromUrl::class) => 'Url',
];

?>


<?= Block::put('sidepanel') ?>
    <?php if (!$this->fatalError): ?>
        <?= $this->makePartial('sidepanel') ?>
    <?php endif ?>
<?= Block::endPut() ?>

<?= Block::put('body') ?>
<div class="control-breadcrumb breadcrumb-flush">
    <ul>
        <li><a href="/backend/alpes-panel">Alpes Panel</a></li>
        <li>Lead Extractor</li>
    </ul>
</div>
<form id="lead-extractor-form" method="POST" enctype="multipart/form-data">
    <h1>Lead Extractor</h1>
    <div class="form-group is-required">
        <label title="Selecione o formato em que os dados estão" class="">
            Formato:
        </label>
        <select name="parser" class="parser form-control" required>
            <option value="">Selecione</option>
            <?php
            foreach ($parsers as $class => $desc) {
                echo '<option value="' . $class . '">' . $desc . '</option>';
            }

            ?>
        </select>
    </div>
    <div class="form-group is-required">
        <label title="Selecione o método de entrada">
            Fonte:
        </label>
        <select name="source_type" class="source_type form-control" required>
            <option value="">Selecione</option>
            <?php
            foreach ($sourceType as $class => $desc) {
                echo '<option value="' . $class . '">' . $desc . '</option>';
            }

            ?>
        </select>
    </div>
    <div class="source-inputs">
        <div class="source-input-<?= FromFile::class ?> hide">
            Arquivo: <input type="file" name="<?= FromFile::class ?>[input]" class="form-control">
        </div>
        <div class="source-input-<?= FromDirectInput::class ?> hide">
            "<?= FromDirectInput::class ?>" <br><b>Não implementado</b><br>
            <textarea disabled placeholder="Código html" class="form-control"></textarea>
        </div>
        <div class="source-input-<?= FromUrl::class ?> hide">
            "<?= FromUrl::class ?>" <br><b>Não implementado</b><br>
            <input type="url" disabled placeholder="URL" class="form-control">
        </div>
    </div>
    <br>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>


<script>
    $(function () {
        "use strict";
        var leadForm = $('#lead-extractor-form');
        leadForm.find('.source_type').change(function () {
            $('.source-inputs > div').slideUp();
            var sourceInput = $('.source-input-' + $(this).val());
            console.log('.source-input-' + $(this).val());

            sourceInput.hide().removeClass('hide').slideDown();
        });
    });
</script>
<?= Block::endPut() ?>